@function px2vw($px){
    @return $px/3.75px * 1vw
};
@function px2vh($px){
    @return $px/6.67px * 1vh
};
.order{
   .top{position: relative;
      width:100%;
      height:px2vh(50px);
      text-align: center;
      position: relative;
      background:darkcyan;
      .back{
          position: absolute;
          left:px2vw(10px);
          top:40%;
        display: inline-block; 
        width:px2vw(30px);
        height:px2vh(30px);}
    span{font-size:1rem;
        line-height: px2vh(50px);
        color:#fff;}
   }
   ul{padding:0 px2vw(10px);
    //    background:#ccc;
       li{background: #fff;
           margin-top:px2vh(5px);
          margin-bottom:px2vh(5px);
          padding:px2vh(10px) px2vh(10px);
          display:flex;
          .check{width:px2vw(20px);
            height:px2vh(80px);
             input{width:px2vw(18px);
                height:px2vh(18px);
                margin-top:px2vh(30px);
            }
        }
        .image{margin:0 px2vw(10px);
            img{width:px2vw(88px);
                height:px2vh(80px);}
        }
        .content{
            p{ width:px2vw(140px);
                height:px2vh(32px);
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.8rem;
                color: #333;
                line-height: px2vh(16px);
            }
            span{
                font-size: 0.22rem;
                color: #8a8a8a;
                display: block;
                 margin-top: px2vh(8px);
            }
            .num{
                button{
                    width: 7vw;
                    height: 7vw;
                    background-color: transparent;
                    border: px2vw(1px) solid gray;
                    text-align: center;
                    border-radius: px2vw(5px);
                    margin: 0 px2vw(5px);
                    padding: 0;
                }
                margin-top:px2vh(10px);
                input{
                    width: 7vw;
                    height: 7vw;
                    text-align: center;
                }
                
            }
        }
       .price{margin-left: px2vw(10px);
            position: relative;
        // width: px2vw(50px);
        // height:px2vh(100px);
           span{display: block;
                font-size: 1rem;
                line-height: px2vh(16px);
                color:#e90327;
                font-weight: 700;
                margin-top: px2vh(10px);
        }
           .del{display:block;
               position: absolute;
               left:px2vw(25px);
               top:px2vh(40px);
               color: #8a8a8a;
        }
       }
       }
   }
   .footer{
        width: 100%;
        padding:0 px2vw(10px);
        position: fixed;
        bottom:px2vh(40px);
        display: flex;
        input{width:px2vw(18px);
        height:px2vh(18px);
        margin-top:px2vh(10px);
    }
    span.span1{
        color: #333;
        font-size:0.88rem;
        line-height:px2vh(40px); 
    }
    .heji{margin-left:px2vw(20px);
        line-height:px2vh(20px); 
        span{
            color:#333;
            font-size:0.88rem;
            font-weight: 700;
            em{color:#e90327;
                font-weight: 700;}
        }
        p{font-size:0.78rem;}
    }
    a{
        display: block;
        width: px2vw(131px);
        height: px2vh(42px);
        background: #e90327;
        color: #fff;
        font-size:0.88rem;
        font-weight: bold;
        text-align: center;
        line-height:  px2vh(42px);
        position: absolute;
        right: px2vw(20px);
    }
   }
}