.warp{
    position: relative;
    .play{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 0.2);
    }
    .play:after{
        content: '';
        width: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-20%,-50%);
    }
}